/RetanguloExceptionTest.class
/QuadradoExceptionTest.class
/CirculoExceptionTest.class
/AllTests.class
/CirculoTest.class
/QuadradoTest.class
/RetanguloTest.class
/AreaTest.class
/AreasTest.class
/PerimetrosTest.class
